tensorflow
torch
torchvision
torchaudio
sentencepiece
transformers
accelerate
optimum
cohere
openai
llama-index
numpy
scipy
gradio
soundfile
datasets[audio]
protobuf
sacrebleu
py7zr
google-api-python-client>=2.100.0
langchain-google-community
googlemaps
wikipedia
flask
langhchain_openai